# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code settings
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/

# Generated plugin registrants and platform code
linux/flutter/generated_plugin_registrant.*
linux/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift

# Xcode / Apple generated artifacts
**/xcshareddata/
**/xcworkspace/
**/DerivedData/
**/ephemeral/

# Android generated / local environment artifacts
android/local.properties
android/.gradle/
android/**/build/
android/app/src/main/java/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build outputs
/android/app/debug
/android/app/profile
/android/app/release
